<div class="toolbar" role="banner">
    <img
      width="60"
      alt="Blaine Minden Icon"
      src="assets/images/icon.JPG"
    />
    <table class="bar">
    <tr>
      <th><a routerLink="/" >Home</a></th>
      <th><a routerLink="/about" routerLinkActive="active">About Me</a></th>
    </tr>
    </table>
      
  </div>